# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*

.npmrc
DEPLOYMENT.md

.yarn/*
.vscode-test.mjs

*.vsix
# Next.js build/cache
.next/


out
node_modules


deploy.sh
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

.next

# testing
/coverage

# next.js
/.next/
/out/
# next.js
/.next/
/out/
lenovo
lenovo.pub
.vscode
out.npmrc

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/src/generated/prisma
